@charset 'UTF-8';
/* ==========================================================================
   Default settings
   ========================================================================== */
html, input, select, textarea, button {
	font:12px/1.428 Arial, "Geneva CY", sans-serif;
	color:#222;
}
html,body {
	height: 100%;
}
a {
  color: #0088cc;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: #005580;
  text-decoration: underline;
}
a:visited {
	
}
/*a:link {-webkit-tap-highlight-color: #fcd700;} */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}

input[placeholder]          {text-overflow:ellipsis;}
input::-webkit-input-placeholder     {text-overflow:ellipsis;} 
input::-moz-placeholder      {text-overflow:ellipsis;} 
input:-ms-input-placeholder {text-overflow:ellipsis;}  
/* ==========================================================================
   can be useful
   ========================================================================== */
/*
-webkit-overflow-scrolling: touch;//для мобильных устройств, скролл в блоке проходит лучше и не дергается вся страница

*/


/* ==========================================================================
   Site Styles
   ========================================================================== */
#wrapper {
	min-width: 980px;
	min-height: 100%;
}
#header {

}
#body {
	padding-bottom: 50px;
}
#footer {
	min-width: 980px;
	height: 50px;
	margin-top: -50px;
	background: #05529c;
}

















/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ==========================================================================
   Styles
   ========================================================================== */
.btn {
	
}
.btn:hover, .btn:focus {
	
}
.btn:active, .btnActive {
	
}
input[type="text"],input[type="password"],input[type="search"],input[type="email"],input[type="url"],input[type="tel"],input[type="time"],input[type="month"],input[type="week"] {

}
textarea {

}
.valid {
	
}
.invalid {
	
}
select {

}
select.valid {

}
select.invalid {

}

















/*@-ms-viewport {
  width: device-width;
}*/